@charset "UTF-8";
body {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mainBloc {
  top: 0;
  bottom: 0;
  right: 3%;
  left: 3%;
  width: 1261px;
  background-color: rgb(231, 224, 224);
  margin: 120px auto;
  height: 800px;
  box-shadow: 1px 1px 15px 5px rgba(31, 73, 125, 0.8);
}

.banner {
  display: flex;
  flex-direction: column;
  height: 130px;
  width: auto;
  padding-bottom: 3%;
}

.moi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(226, 219, 219);
  background-attachment: fixed;
  box-shadow: 1px 1px 15px 5px rgba(31, 73, 125, 0.8);
  position: fixed;
  width: 1261px;
  height: 130px;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
}

.slogan {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 0 5px 4px rgb(167, 159, 159);
  padding-left: 12px;
}

.h4 {
  margin-top: 65px;
  padding-left: 12px;
}

.container {
  height: auto;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-bottom: 30px;
}
.container .presentation {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.container .presentation .bio {
  display: flex;
  flex-direction: row;
  width: 98%;
  justify-content: center;
  gap: 20px;
}
.container .presentation .bio .image1 {
  display: flex;
  height: 262px;
  width: 262px;
  border-radius: 50%;
}
.container .presentation .bio .texte {
  font-size: large;
  line-height: 2.2;
  padding-left: 10px;
  text-shadow: 0 5px 4px rgb(167, 159, 159);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(247, 220, 212);
  width: 96%;
  margin-top: 20px;
}
.container .presentation .container-skills {
  background-color: rgb(228, 177, 161);
  width: 97.9%;
  margin-top: 20px;
}
.container .presentation .container-bars {
  width: 96%;
  background-color: lightgrey;
  margin-left: 2.5%;
}
.container .presentation .html {
  width: 90%;
  background-color: #212529;
  transition: 0.5s;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container .presentation .titre1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 0 5px 4px rgb(167, 159, 159);
  padding-left: 5%;
}
.container .presentation .skills {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  margin-bottom: 20px;
}
.container .presentation .html:hover {
  width: 90%;
  background-color: rgb(184, 85, 85);
}
.container .presentation .titre2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 5%;
}
.container .presentation .css {
  width: 80%;
  background-color: #212529;
  transition: 0.5s;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container .presentation .css:hover {
  width: 80%;
  background-color: rgb(184, 85, 85);
}
.container .presentation .skills {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  margin-bottom: 20px;
}
.container .presentation .titre3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 5%;
}
.container .presentation .js {
  width: 85%;
  background-color: #212529;
  transition: 0.5s;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container .presentation .js:hover {
  width: 85%;
  background-color: rgb(184, 85, 85);
}
.container .presentation .skills {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  margin-bottom: 20px;
}
.container .formulaire {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-left: 20px;
  border-left: 1px solid black;
  margin-top: 50px;
  margin-right: 10px;
}
.container .blocNom {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  gap: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container .blocPrénom {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container .blocTelephone {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container .blocMail {
  display: flex;
  flex-direction: column;
  margin-top: 78px;
  gap: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container .valider {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-left: 60px;
  margin-top: 40px;
}
.container .boutton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgrey;
  color: black;
  transition: 0.3s;
  height: 40px;
  width: 80px;
  text-align: center;
  margin-top: 50px;
  margin-left: 40px;
}
.container .boutton:hover {
  letter-spacing: 1px;
  background-color: rgb(184, 85, 85);
}

/*# sourceMappingURL=style.css.map */
